
    #img-up-screen {
        border: 4px dashed #808080a1;
        border-radius: 4px;
        background: #585858;
    }
    
    .conversion-settings input[type=text] {
        width : 32px;
    }
    
    .portrait-mode {
        transform: rotate(-90deg);
        margin-top: 50px;
    } 
    
    .landscape-mode-flip {
        transform: rotate(180deg);
        margin-top: 50px;
    }
    
    .portrait-mode-flip {
        transform: rotate(90deg);
        margin-top: 50px;
    }
    
    #disp-info {
        padding: 10px 0;
    }
    
    .list-half div:first-child {
        padding-right: 5px;
    }
    
    .list-half div {
        width: 50%;
        float: left;
    }
    
    #ui-files-list {
        margin-bottom: 6px;
        position : relative;
    }
    
    #ui-files-list li {
        margin-bottom: 7px;
        line-height: 28px;
        height: 32px;
        white-space: nowrap;
        overflow: hidden;
    }
    
    
    #disp-info button {
        display: inline-block;
        width: auto;
        margin-right: 6px;
    }
    
    #ui-files-list li.dselect-item button {
        display: inline-block;
        height: 24px;
        width: auto;
        float: right;
        margin-left: 5px;
    }